body{
    background-color:#556270;
    text-align: center
}
h1{
    font-family: Impact;
    color:#4ECDC4;
    font-size: 50px
}
body, a{
    color:#C44D58;
    font-family: Georgia
}
table, th, td{
    border: 3px solid;
    border-color:#C7F464;
    text-align: center;
    width:0%;
}
th{
    background-color:#C7F464;
    text-align: center
}
a{
    color:#C44D58
}