body{
    background-color:#838689;
    font-family: 'Shadows Into Light', cursive;
    color:#EBE3AA;
}
h1{
    text-align: center;
}
ul{
    list-style: none;
}
.scaled-image{
    border:2px solid #897670;
}