h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    color:#033649
}
h2{
    color: #CDB380;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
body{
    background-color: #033649;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#033649;
    margin: 5px 25px 35px 15px;
    padding: 5px;
    background-image: url('upfeathers/upfeathers.png')
}
a{
    color:#033649;
    font-family: 'Open Sans Condensed', sans-serif;
}
h3{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.perm{
    float: left;
}
.temp{
    float: right;
}
.clearfix:before,
.clearfix:after {
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
header{
    margin: 10px;
    padding: 5px
}