h1{
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    color: #031634
}
h2{
    color: #CDB380
}
body{
    background-color: #033649;
    font-family: Georgia;
    color:white
}
}
.permanent{
    text-align: right
}
a{
    color:white
}
h3{
    text-align: center
}