/*
Jessie Reimers

Purple - #5D4157
Grey - #838689
Green - #A8CABA
*/
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Kreon:300,400);

.header{
    background-color:#838689;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
body{
    background-image: url('../images/seamless_paper_texture.png');
    color:white;
    font-family: 'Kreon', serif;
    font-size: 20px;
    margin: 5px 25px 35px 15px;
    padding: 5px
}
h1{
    font-size: 50px;
    text-align: center;
    color:#A8CABA;
}
h2{
    font-size: 30px;
    color:#5D4157;
    text-align: center;
}
a{
    color:#A8CABA;
    font-family: 'Kreon', serif;
}
.info{
    text-align: center;
}
.contentwrapper{
    width: 70%;
    margin: auto;
}
.main{
    float:left;
    width: 60%;
    border: 2px dashed black;
    padding: 5px;
    height: 600px;
}
.sidebar{
    float: right;
    width: 40%;
    border: 2px dashed black;
    padding: 5px;
    height: 600px;
    width: 350px;
}
a:visited{
    color:#838689;
}
a:hover{
    color: #838689;
}
.colorsquare{
    width: 200px;
    height: 200px;
    display: inline-block;
    float:left;
    margin: 5px;
    border: 2px solid black;
}
.color1 {
    background-color:#5D4157;
}
.color2{
    background-color:#838689;
}
.color3{
    background-color:#A8CABA;
}
.clearfix:before,
.clearfix:after {
}
.clearfix:after {
  content: "";
  display: ;
  clear: both;
}
img{
    border: 3px solid #838689;
}
.site-footer a{
    font-size: 25px;
    color:#A8CABA;
    font-family: 'Kreon', serif;
}
.site-footer a:hover{
    color:white;
    font-family: 'Kreon', serif;
    text-decoration: overline;
}
.site-footer{
    text-align: center;
    border: 2px dashed black;
    padding: 5px
}
.site-footer ul{
    list-style: none;
}
.list-group-item{
    background-color:#5D4157;
}